{% extends 'base.html' %}
{% load static %}

{%block content%}


<header>
    <img src="{% static 'images/me.jpg' %}" alt="Juan Polanco" class="profile-image">
    <h1 class="tag name">Hello, I’m Juan </h1>
    <div class="tag-location">
        <p> <i> Full Stack Developer </i></p>
        <p> Raleigh, NC </p>
    </div>
</header>
<section class="container">
    <div class="box1">
        <h2 class="summary"> About Me </h2>
        <p> Hard-working, outgoing, Ambitious, dedicated individual who possesses strong interpersonal skills.
            Looking to apply my education and experience in the software field to create remarkable software to
            make an impact within our community!</p>

        <p> <i>Sucess is not final, failure is not fatal: it is the courage to continue that counts. <br> -
                Winston Churchill </i> </p>

    </div>
    <section id="projects">
        {% for project in projects.all %}
        <div class="container-1">
            <div class="box2">
                <h1> {{project.title}}</h1>
                <h4> {{project.description}} </h4>
                {% if project.image %}
                <div> <img src="{{'project.images.url' }}" width="300" height="400"> </div>
                {% endif %}
                <a href={{project.url}} target="blank"> Click Here For More </a>
            </div>
        </div>
        <div class="flex items-center justify-center pa4">
            <a href="#0" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
                <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
                  <title>chevronLeft icon</title>
                  <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
                </svg>
              <span class="pl1">Previous</span>
            </a>
            <a href="#0" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box">
              <span class="pr1">Next</span>
              <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
                <title>chevronRight icon</title>
                <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
              </svg>
            </a>
          </div>

        {% endfor %}

    </section>


    {% endblock %}